<html>
<head>
<title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>AMAZON.COM</h1>
    <a href="articles">Inventaires des articles</a>
    <br/>
    <a href="acheter">Faire des achats</a>
    <br/>


    <hr/>
    <h1>Articles dans le stock <a href="/export/articles/csv">csv</a>-<a href="/export/articles/xlsx">xlsx</a>-<a href="/export/articles/pdf">pdf</a></h1>
    <hr/>

    {{>articles}}

    <hr/>
    <h1>Clients <a href="/export/clients/csv">csv</a>-<a href="/export/clients/xlsx">xlsx</a>-<a>pdf</a></h1>
    <hr/>

    {{>clients}}

    <hr/>
    <h1>Factures <a href="/export/factures/xlsx">xlsx</a></h1>
    <hr/>


    {{#factures}}

        <h2>Facture numéro {{id}} de {{client.nom}} {{client.prenom}} <a href="/export/factures/{{id}}/pdf">pdf</a></h2>
        {{>factures}}
    {{/factures}}
</body>
</html>